/* 容器布局 */
.home-container {
	padding: 20px;
	max-width: 1400px;
	margin: 0 auto;
}

/* 轮播图容器 */
.banner-wrapper {
	position: relative;
	height: 400px;
	border-radius: 12px;
	overflow: hidden;
}

.banner-caption{
    position: absolute;
    left: 16px;
    bottom: 14px;
    background: rgba(0, 0, 0, .35);
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 12px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0; /* 默认隐藏 */
	transition: opacity 0.8s ease-in-out; /* 淡入淡出过渡 */
	z-index: 1;
}

.slide.active {
	opacity: 1; /* 显示当前图片 */
	z-index: 2;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 切换按钮样式 */
.slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.3);
	color: white;
	border: none;
	padding: 15px 10px;
	cursor: pointer;
	z-index: 10;
	font-size: 20px;
	border-radius: 4px;
}
.slider-btn:hover {
	background: rgba(0, 0, 0, 0.6);
}
.prev {
	left: 10px;
}
.next {
	right: 10px;
}

/* 圆点层级调高 */
.banner-dots {
	z-index: 10;
}
.dot {
	cursor: pointer;
}

/* 栅格布局 */
.info-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
    margin-top: 30px;
}

.info-card {
	background: #161b22;
	border: 1px solid #30363d;
	border-radius: 8px;
	padding: 20px;
}

.card-header {
	font-size: 16px;
	color: #f0f6fc;
	margin-bottom: 20px;
	font-weight: 600;
}

/* 列表样式 */
.info-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.info-list li {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
	font-size: 14px;
}

.item-title {
	color: #c9d1d9;
	text-decoration: none;
	flex: 1;
	margin: 0 10px;
	line-height: 1.4;
}

.item-title:hover {
	color: #58a6ff;
}

.item-date {
	color: #8b949e;
	font-size: 12px;
	white-space: nowrap;
}

/* 标签样式 */
.tag {
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 11px;
	color: #fff;
}

.tag-red {
	background: #da3633;
}
.tag-blue {
	background: #0969da;
}

.tag-outline {
	border: 1px solid #30363d;
	padding: 1px 5px;
	font-size: 11px;
	color: #8b949e;
	border-radius: 4px;
}

/* 快速通道按钮 */
.quick-links {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.link-btn {
	background: #21262d;
	border: 1px solid #30363d;
	color: #c9d1d9;
	padding: 12px;
	text-align: center;
	border-radius: 6px;
	text-decoration: none;
	transition: 0.2s;
}

.link-btn:hover {
	background: #30363d;
}

/* 移动端适配 */
@media (max-width: 1024px) {
	.info-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.info-grid {
		grid-template-columns: 1fr;
	}
}
